# Entornos virtuales
venv/
env/
.venv/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Archivos de Django
db.sqlite3
*.log
*.pot
*.pyc
media/
staticfiles/

# Archivos de VSCode / IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de entorno
*.env
.env.*
